#wrapper {
	height: 100%;
	background: #eaeaea none; 

}


#header-box {
	
	/* background: #fff;
	box-shadow: 0 1px 5px 0 #4A4A4A; */
	height: auto;
	margin: auto;
	/* width: 1136px; */
}
.header{
	width: 100%;
	 /* background: #FFEC63; */
	 background: #FFF84F; 
	position: relative;
	box-shadow: 0 1px 5px 0 #4A4A4A;
	border-bottom: solid 4px #2ba6cb;
	display: inline-table;
}

.megamenu_wrapper {
	margin:0 auto;
	display:block;
	position: relative;
	z-index:1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:21px;
	float: left;
	width: 100%;
	/* height: 66px;
	min-height: 15px; */
}

.full-page {
	
	display: inline-block;
	 /* width: 848px;  */
	 width:auto;
/* 	border: 1px solid #E4E3E1;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067); */
	padding: 5px;
	background: none repeat scroll 0 0 #FFFFFF;
/* 	margin-bottom: 5px; */

}

.full-content{
	/* border: 1px solid #E4E3E1;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067); */
	/* min-height: 500px; */
	/* margin-top: 5px; */
	background-color: #fff;
}

#left-innerContent p{
	
	padding: 0px !important;
}

.page-banner {
	/* border: 1px solid #E4E3E1;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	padding: 5px;
	background: none repeat scroll 0 0 #FFFFFF; */
	/*border-bottom: 5px solid #99D1F6;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067); 
    height: 300px;*/
}

.logo {
	
	margin: 5px;
	padding: 0px;
	float: left;
}

#content {
	/*background: none repeat scroll 0 0 #f9f9f9;
	 box-shadow: 0 1px 5px 0 #4A4A4A; */
	margin: auto;
	overflow-y: hidden;
	width: 100%;
}

.nw-content {
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	margin: 5px; */
	border-bottom: 1px solid #E4E3E1;
	background-color: #fff;
	overflow: auto;
}

.sfooter{
	
	width: 100%;
	 background: #4E4E4E; 
	 border-top: 5px solid #000;
	 display: inline-table;
}
.sfooter2{
	
	width: 100%;
	 display: inline-table;
	 background-color: rgba(41, 41, 41, 0.54);
    border-top: 1px solid rgba(255, 255, 255, 0.13);
}
#sfooter-box {
	/* background: none repeat scroll 0 0 #f9f9f9; */
/* box-shadow: 0 1px 5px 0 #4A4A4A; */
margin: auto;
width: auto;
color: #fff;
}

.sfooter-content {
	padding: 5px;
	/* width: 100%; */
	/* border-top: 5px solid #1ABB74; */
}

#leftColumn {
float: left;
width: 273px;
height: auto;
/* background-color: #96CCEB; */
padding-bottom: 5px;
/* padding: 3px 0 3px 3px; */
margin: 5px 0px 5px 0px;
}

#left-Column {
	background-color: #fff;
	border: 1px solid #E4E3E1;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	height: auto;
	margin: 5px 5px 5px 0px;
	width: 272px;
}

#right-Column{
background-color: #fff;
border-left: 1px solid #E4E3E1;
/* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067); */
height: auto;
margin: 5px 0px 5px 0px;
width: 100%;
}


#left-img-Column {
	height: auto;
	width: 245px;
	float: left;
}

#left-img-Column .a-inner-border {
	margin-bottom: 5px;
}

#leftColumn h6 {
	background: none repeat scroll 0 0 #FFF84F;/* #A8FFA5; #B4D5FF; */
	font-size: 12px;
	font-weight: bold;
	/*  margin: 0 0 5px !important; */
	padding: 2px 6px 2px 6px;
	text-align: left;
	text-transform: capitalize;
	line-height: 24px !important;
	border-bottom: 1px solid #E4E3E1;
	color: #707070;
	/* border-radius:15px 15px 2px 2px; */
}

#leftColumn h6.lfhlink {
	/* background: none repeat scroll 0 0 #f1f1f1; #B4D5FF; */
	background: url("../../images/school/go-link.png") no-repeat scroll 250px
		7px #fff84f;
}

#leftColumn h6 a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #707070;
	font-size: 12px;
}
#leftColumn .d {
	background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #E4E3E1;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
display: table;
margin: 0px 0px 5px 0px;
width: 272px;
display: inline-table;
}

#leftColumn .cd {
	width: 223px;
	margin-bottom: 5px;
	display: table;
}

#leftColumn .cd h2 {
	background: none;
	border-bottom: 1px solid #666666;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 8px 2px 12px;
	text-align: left;
	text-transform: capitalize;
	line-height: 25px;
}

#innerContent { /* padding: 3px; */
	  background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
/* float: right; */
width: 100%;
margin: 5px 0px 5px 0px;
/* min-height: 790px; */
}

#left-innerContent { /* padding: 3px; */
	/*  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E3E1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067); 
width: 765px;*/

/* padding: 0px 5px 5px 0px; */
float: left;
width: 100%;
/* border: 1px solid #E4E3E1; */
}

.row li {
	
	list-style: none;
}

.img-parent img {
	width: 100%;
	  /* max-height:318px; */
	  height: auto;
}


.inner-boundary div img {
    cursor: pointer;
    float: left;
    vertical-align: top;
    width: 262px;
    height: 140px;
}

div.allGalleries div.inner-boundary {
	/* background-color: #F4F4F4; */
	/* border-bottom: 1px solid #BBBBBB; */
    float: left;
    height: auto;
    width: 262px;
   /*  margin: -2px 0 0 -2px; */
}

/* .widget-title:before {
content: "";
position: absolute;
bottom: -1px;
left: 0;
display: block;
width: 50px;
height: 2px;
background: #5bc;
} */



.widget-title span {
display: inline-block;
margin-bottom: -1px;
padding: 6px 0;
border-bottom: 2px solid #319cee;
}

h3 span {
display: inline-block;
margin-bottom: -1px;
padding: 8px 0;
border-bottom: 1px solid #319cee;
}

.widget-title {
position: relative; */
/* padding-bottom: 8px; */
/* margin-bottom: 5px; */
/* font-size: 1.0em !important; */
font-weight: bold;
/* line-height: 1em; */
border-bottom: 1px solid #f0f0f0;
color: #797979 !important;
margin: 5px 0 10px;
padding: 0px !important;
}

#leftColumn{
	display: none;
}
 #innerContent{
	float: left;
} 
#tbx{
	display: none;
}
.social-icons-sidebar{
	display: none;
}

.galimg,.galvideo, .bookcat{
	width: 50%;
}

.gsc-search-button{
	display: none;
}



@media screen and (min-width:782px) {

		#leftnavigation{
			display: block;
		}
		
		#leftColumn{
			display: block;
		}
		#innerContent{
			float: right;
		} 
		.header-main{
			margin: auto;
			width: 1136px;
		}

		/* .home-content-desc1{
			width: 56%;
		} */
		#content{
			width: 1136px;
		}

		.sfooter-content .col-md-3 {
		width: 20% !important;
		}
		.sfooter-content .col-md-1 , .sfooter-content .col-md-2{
		width: 10% !important;
		}
		
		.sfooter-content .col{
			width: inherit;
		}
		#sfooter-box{
			width: 1136px;
		}
		
		.ecalendar-wrap .next{
			right: 230px !important;
		}
		.ecalendar-wrap .prev{
			left: 230px !important;
		}
		.site-navigation li{
			padding: 0px !important;
		}
		#left-innerContent{
			width: 598px;
		}
		#right-Column{
			width: 252px;
		}
		.ecalendar-daysList.showDayNames.showAsWeek{
			float: right !important;
		}
		.ecalendar-list-wrap {
		position:relative !important;
		width: 480px !important;
		}
		.full-content{
			min-height: 500px;
		}
		.menu-category-menu-container{
			position: relative !important;
		}

		#innerContent { /* padding: 3px; */
			min-height: 790px;
   			 border: 1px solid #E4E3E1;
   			 width: 848px;
		}
		.shyniSlide img{
			height: 100% !important;
			margin: 0px !important;
			width: 100% !important;
		}
		#homepageBanners{
		height: 335px !important;
		width: 848px !important;
		overflow: hidden;
    	position: relative;
		}
		
		.sfooter-content .col{
			margin: 0px 8px;
		}
		.page-banner .img-parent img {
			  height: 335px;
		}
		.ecalendar-daysList.showDayNames.showAsWeek {
				width: 220px !important;
		}
		.ecalendar-list li{
			width: 50px;
		}
		.search-box-wrapper {
		top: 82px;
		}
		.search-box {
		width: 1112px;
		}
		.gsc-search-button{
			display: block;
		}
		.division6 .div-support{
			width: 100%;
		}
		#free-file .c-inner-border{
			width: 100%;
		}
		.division6{
			width: 14%;
			padding: 2px 10px !important;
		}
		/* .galimg,.galvideo, .bookcat{
			width: 25% !important;
		} */
		
		.bookcat{
			width: 25% !important;
		}
		
		.bookcat .cat-inner{
			margin: 10px;
		}
		.division6{
			width: 33.333%;
		}
		.division6 .div-support{
			width: 100%;
		}
		.shyniSlide {
			height: 335px !important;
		}

}

@media screen and (min-width:586px) {
	.bookcat{
			width: 33.3333%;
		}
}

@media screen and (min-width:370px) {
	.ecalendar-wrap .next {
		background: url("../images/arrows-rounds.png") no-repeat scroll 0px -33px;
	}
	
	.ecalendar-wrap .arrow.prev {
		background: url("../images/arrows-rounds.png") no-repeat scroll 0px -186px;
	}
}

img[Attributes Style] {
width: 367px;
height: 119px;
}

@media screen and (min-width:1220px) {
	.social-icons-sidebar {
		display: block;
	}
}



@media screen and (min-width:430px) {
	
	.galimg,.galvideo{
	width: 33.333%;
	}
	
}
@media screen and (min-width:642px) {
	
	.galimg,.galvideo{
	width: 25%;
	}
	
	.bookcat{
	padding: 5px 0px;
	}
	
}


@media screen and (min-width:856px) {
	#innerContent {
		width:856px;
	}
}

@media screen and (min-width:848px) {
	.full-page {
width:848px; 
	}
}

@media only screen and (max-width: 848px){
        .homeimg{
            height:auto !important;
            max-width:848px !important;
            width: 100% !important;
        }
        #content{
	
		}
		
		.img-parent img {
			  height: auto;
		}

    }
		
}



		
		

@media screen and (min-width:520px) {
	.division6{
			width: 25%;
		}
}
@media screen and (min-width:630px) {
	.division6{
			width: 20%;
		}
}
@media screen and (min-width:730px) {
	.division6{
			width: 16%;
		}
}
@media only screen and (max-width: 782px){

		.logo{
			width: 60%
		}
}

















